.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-mVbNn93k4wG8);
  font-family: var(--token-EkbNJP5n5qs_);
  font-size: var(--token-UdCq_jF67HYX);
  line-height: var(--token-btHSj8wV-pO9);
  outline-style: none;
  border-radius: var(--token-Z0B6jtloDG2Z);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-bnO9KQ3eaLUm);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-DfaHYE_SSQ4y);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-9u8VSASvMv8w);
  outline-color: var(--token-4jbAiiltvb5V);
  outline-offset: 1px;
}
.freeBox__fShQe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-4igPozvxuzKR) var(--token-Zzdmi9mS8owL);
}
.freeBox__fShQe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
  margin-top: calc(0px - var(--token-9u8VSASvMv8w));
  height: calc(100% + var(--token-9u8VSASvMv8w));
}
.freeBox__fShQe > :global(.__wab_flex-container) > *,
.freeBox__fShQe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fShQe > :global(.__wab_flex-container) > picture > img,
.freeBox__fShQe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
  margin-top: var(--token-9u8VSASvMv8w);
}
.freeBox__fnOmn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__iIGqH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-RfWJoPaUDaJ3);
  min-width: 0;
}
