@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-Mi3Ih9Fg6nxv: var(--token-OJSN3W0Myvht);
  --plasmic-token-size-32: var(--token-Mi3Ih9Fg6nxv);
  --token-exuKcS9DqN_R: var(--token-0tl2H1TRPHhV);
  --plasmic-token-size-16: var(--token-exuKcS9DqN_R);
  --token-4igPozvxuzKR: var(--token-cfon0PHiXQoL);
  --plasmic-token-size-8: var(--token-4igPozvxuzKR);
  --token-qqH-jqPAq5Dl: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted-soft-foreground: var(--token-qqH-jqPAq5Dl);
  --token-6pYS8AUtR93f: var(--token-RuQNZpYm0Yds);
  --plasmic-token-size-4: var(--token-6pYS8AUtR93f);
  --token-T851S_Io0AGa: var(--token-PKf5XaFatup3);
  --plasmic-token-size-12: var(--token-T851S_Io0AGa);
  --token-R6rZ9PU9JZzx: var(--token-ekJK2BNXfyOR);
  --plasmic-token-size-24: var(--token-R6rZ9PU9JZzx);
  --token-eC-_D7GZPRRC: 1.25rem;
  --plasmic-token-font-lg: var(--token-eC-_D7GZPRRC);
  --token-L5EWAOlVyAKZ: #ffffff;
  --plasmic-token-basic-container-background: var(--token-L5EWAOlVyAKZ);
  --token-4jbAiiltvb5V: var(--token-3kYlE5VFDAO5);
  --plasmic-token-brand-brand: var(--token-4jbAiiltvb5V);
  --token-EkbNJP5n5qs_: Inter;
  --plasmic-token-sans-serif: var(--token-EkbNJP5n5qs_);
  --token-UdCq_jF67HYX: 1rem;
  --plasmic-token-font-md: var(--token-UdCq_jF67HYX);
  --token-btHSj8wV-pO9: 1.25;
  --plasmic-token-line-height-md: var(--token-btHSj8wV-pO9);
  --token-Z0B6jtloDG2Z: var(--token-c8-rjzKYORFj);
  --plasmic-token-size-6: var(--token-Z0B6jtloDG2Z);
  --token-0OrVkkeYxRCb: var(--token-Cn459MKRbWu9);
  --plasmic-token-neutral-neutral: var(--token-0OrVkkeYxRCb);
  --token-dnRYhwZyw1Lm: var(--token-u2RgMe-uQAju);
  --plasmic-token-destructive-destructive: var(--token-dnRYhwZyw1Lm);
  --token-tGPHAA5TU5rC: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted: var(--token-tGPHAA5TU5rC);
  --token-0McMDQWuMig9: 0.75rem;
  --plasmic-token-font-sm: var(--token-0McMDQWuMig9);
  --token-tYbcNAJIVtSa: 1;
  --plasmic-token-line-height-sm: var(--token-tYbcNAJIVtSa);
  --token-FXWxTHfQ_BGH: 1.4;
  --plasmic-token-line-height-lg: var(--token-FXWxTHfQ_BGH);
  --token-9u8VSASvMv8w: var(--token-IUVIp1DHBSFd);
  --plasmic-token-size-2: var(--token-9u8VSASvMv8w);
  --token-6I23HUuihfK9: var(--token-8odYYBvkaHVX);
  --plasmic-token-success-success: var(--token-6I23HUuihfK9);
  --token-WLrrI3X5dFVT: var(--token-L6pBmIkiSkx4);
  --plasmic-token-warning-warning: var(--token-WLrrI3X5dFVT);
  --token-DfaHYE_SSQ4y: var(--token-w7EPkOMSh2Xb);
  --plasmic-token-brand-brand-soft: var(--token-DfaHYE_SSQ4y);
  --token-f5cb2IvTr9z9: var(--token-YTNNB1KtOvN9);
  --plasmic-token-neutral-neutral-soft: var(--token-f5cb2IvTr9z9);
  --token-bnO9KQ3eaLUm: var(--token-NyTb7hfbZNyN);
  --plasmic-token-muted-muted-soft: var(--token-bnO9KQ3eaLUm);
  --token-akOVK4VJwfHT: var(--token-Xs2o77o8RCB-);
  --plasmic-token-success-success-soft: var(--token-akOVK4VJwfHT);
  --token-ljTE9AYUmUf0: var(--token-BUYkn0c_BT-J);
  --plasmic-token-warning-warning-soft: var(--token-ljTE9AYUmUf0);
  --token-ZtE8jnWnMBjA: var(--token-I0_BUYzH206C);
  --plasmic-token-destructive-destructive-soft: var(--token-ZtE8jnWnMBjA);
  --token-mJnKfO05iP6H: var(--token-qsHKKmoi9Z2N);
  --plasmic-token-brand-brand-border: var(--token-mJnKfO05iP6H);
  --token-La5g8vktCmdl: var(--token-GQQSYIXwL9h_);
  --plasmic-token-neutral-neutral-border: var(--token-La5g8vktCmdl);
  --token-9Qr7G_DIO8nq: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-border: var(--token-9Qr7G_DIO8nq);
  --token-0-rTeTmA3Nci: var(--token-Y7e5ggCd09M6);
  --plasmic-token-success-success-border: var(--token-0-rTeTmA3Nci);
  --token-Vc6Yt794mVBj: var(--token-N2GVB8b4MTkJ);
  --plasmic-token-warning-warning-border: var(--token-Vc6Yt794mVBj);
  --token-wOj7Qs5ZArOr: var(--token-8XWkpFEFETNw);
  --plasmic-token-destructive-destructive-border: var(--token-wOj7Qs5ZArOr);
  --token-mOBDVX4GZtSX: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-mOBDVX4GZtSX);
  --token--0k7xEilOEQu: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token--0k7xEilOEQu);
  --token-MIb7hgJx4mtR: #00000033;
  --plasmic-token-interaction-pressed: var(--token-MIb7hgJx4mtR);
  --token-Zzdmi9mS8owL: var(--token-vINZR3MlEOSB);
  --plasmic-token-size-10: var(--token-Zzdmi9mS8owL);
  --token-m7NbmeLxLcIy: var(--token-M0LHGDR880st);
  --plasmic-token-brand-brand-foreground: var(--token-m7NbmeLxLcIy);
  --token-zUMEt5nr0-dR: var(--token-w0BmYAdVh1BD);
  --plasmic-token-neutral-neutral-foreground: var(--token-zUMEt5nr0-dR);
  --token-r1WyVaTx4Ndp: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-foreground: var(--token-r1WyVaTx4Ndp);
  --token-v-D684RA2rao: var(--token-wXhZBDyFIH77);
  --plasmic-token-brand-brand-soft-foreground: var(--token-v-D684RA2rao);
  --token-hk3Cl7Iel44r: var(--token-IM1QVYeIZBIA);
  --plasmic-token-warning-warning-foreground: var(--token-hk3Cl7Iel44r);
  --token-onXBL9aRoM-M: var(--token-d5rxOApLiBXu);
  --plasmic-token-success-success-foreground: var(--token-onXBL9aRoM-M);
  --token-1UCkroO2mzdf: var(--token-wO2qMySVKYXU);
  --plasmic-token-destructive-destructive-foreground: var(--token-1UCkroO2mzdf);
  --token-6CfUeKRUuyEO: var(--token-ZnueTOHp2Zir);
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-6CfUeKRUuyEO);
  --token-y3gdsxzIS13I: var(--token-MD2kb85IOAun);
  --plasmic-token-success-success-soft-foreground: var(--token-y3gdsxzIS13I);
  --token-NFz8T1hPjm5e: var(--token-Work-inyFZuD);
  --plasmic-token-warning-warning-soft-foreground: var(--token-NFz8T1hPjm5e);
  --token--zat7EzzV_p5: var(--token-c1-8q9kxmrq_);
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token--zat7EzzV_p5
  );
  --token-mVbNn93k4wG8: var(--token-4Cdw41zGDm2p);
  --plasmic-token-basic-text-primary: var(--token-mVbNn93k4wG8);
  --token-RfWJoPaUDaJ3: var(--token-MGudh00NLP3q);
  --plasmic-token-basic-text-secondary: var(--token-RfWJoPaUDaJ3);
  --token-OL25_TgcgqgO: var(--token-TONjX_YbO9_T);
  --plasmic-token-size-20: var(--token-OL25_TgcgqgO);
  --token-YYQ3M_21lArl: var(--token-RN6-6smk2YHi);
  --plasmic-token-basic-ring: var(--token-YYQ3M_21lArl);
  --token-ofDHUuQS5wvX: var(--token-GQQSYIXwL9h_);
  --plasmic-token-basic-border: var(--token-ofDHUuQS5wvX);
  --token-6m67WLUkUgWD: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-soft-hover: var(--token-6m67WLUkUgWD);
  --token-W820T9MzOFv9: var(--token-YTNNB1KtOvN9);
  --plasmic-token-basic-input-background: var(--token-W820T9MzOFv9);
  --token-VNwTK1CZhVdO: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-VNwTK1CZhVdO);
  --token-CvCCHxUTVXDL: var(--token-c-y4Lbl8pLuG);
  --plasmic-token-basic-container-background-dark: var(--token-CvCCHxUTVXDL);
  --token-45sjasUWplKw: #000000;
  --plasmic-token-warta-2nd-color: var(--token-45sjasUWplKw);
  --token-e9hXGHPH4T16: #f1bb00;
  --plasmic-token-tutur-warta-main-color: var(--token-e9hXGHPH4T16);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-8b9X8Do3tDb9_font-family: "Inter", sans-serif;
  --mixin-8b9X8Do3tDb9_font-size: 16px;
  --mixin-8b9X8Do3tDb9_font-weight: 400;
  --mixin-8b9X8Do3tDb9_font-style: normal;
  --mixin-8b9X8Do3tDb9_color: #535353;
  --mixin-8b9X8Do3tDb9_text-align: left;
  --mixin-8b9X8Do3tDb9_text-transform: none;
  --mixin-8b9X8Do3tDb9_line-height: 1.5;
  --mixin-8b9X8Do3tDb9_letter-spacing: normal;
  --mixin-8b9X8Do3tDb9_white-space: pre-wrap;
  --mixin-8b9X8Do3tDb9_user-select: text;
  --mixin-8b9X8Do3tDb9_text-decoration-line: none;
  --mixin-8b9X8Do3tDb9_text-overflow: clip;
  --mixin-UlIrbHZxTofC_color: #000000;
  --mixin-UlIrbHZxTofC_font-weight: 700;
  --mixin-UlIrbHZxTofC_font-size: 64px;
  --mixin-UlIrbHZxTofC_line-height: 1;
  --mixin-UlIrbHZxTofC_letter-spacing: -1px;
  --mixin-UlIrbHZxTofC_white-space: pre-wrap;
  --mixin-mp4xm0oTizyw_color: #000000;
  --mixin-mp4xm0oTizyw_font-size: 48px;
  --mixin-mp4xm0oTizyw_font-weight: 700;
  --mixin-mp4xm0oTizyw_letter-spacing: -0.5px;
  --mixin-mp4xm0oTizyw_line-height: 1.1;
  --mixin-mp4xm0oTizyw_white-space: pre-wrap;
  --mixin-i19fur7Gfnmk_color: #0070f3;
  --mixin-i19fur7Gfnmk_white-space: pre-wrap;
  --mixin-hdgVcC-5OPca_color: #000000;
  --mixin-hdgVcC-5OPca_font-size: 32px;
  --mixin-hdgVcC-5OPca_font-weight: 600;
  --mixin-hdgVcC-5OPca_line-height: 1.2;
  --mixin-hdgVcC-5OPca_white-space: pre-wrap;
  --mixin-wXDOdbJv2aV-_color: #000000;
  --mixin-wXDOdbJv2aV-_font-size: 24px;
  --mixin-wXDOdbJv2aV-_font-weight: 600;
  --mixin-wXDOdbJv2aV-_line-height: 1.3;
  --mixin-wXDOdbJv2aV-_white-space: pre-wrap;
  --mixin-5D4nOTlI--ar_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-5D4nOTlI--ar_border-bottom-color: #dddddd;
  --mixin-5D4nOTlI--ar_border-bottom-style: solid;
  --mixin-5D4nOTlI--ar_border-bottom-width: 1px;
  --mixin-5D4nOTlI--ar_border-left-color: #dddddd;
  --mixin-5D4nOTlI--ar_border-left-style: solid;
  --mixin-5D4nOTlI--ar_border-left-width: 1px;
  --mixin-5D4nOTlI--ar_border-right-color: #dddddd;
  --mixin-5D4nOTlI--ar_border-right-style: solid;
  --mixin-5D4nOTlI--ar_border-right-width: 1px;
  --mixin-5D4nOTlI--ar_border-top-color: #dddddd;
  --mixin-5D4nOTlI--ar_border-top-style: solid;
  --mixin-5D4nOTlI--ar_border-top-width: 1px;
  --mixin-5D4nOTlI--ar_border-bottom-left-radius: 3px;
  --mixin-5D4nOTlI--ar_border-bottom-right-radius: 3px;
  --mixin-5D4nOTlI--ar_border-top-left-radius: 3px;
  --mixin-5D4nOTlI--ar_border-top-right-radius: 3px;
  --mixin-5D4nOTlI--ar_font-family: "Inconsolata";
  --mixin-5D4nOTlI--ar_padding-bottom: 1px;
  --mixin-5D4nOTlI--ar_padding-left: 4px;
  --mixin-5D4nOTlI--ar_padding-right: 4px;
  --mixin-5D4nOTlI--ar_padding-top: 1px;
  --mixin-5D4nOTlI--ar_white-space: pre-wrap;
  --mixin-kVk9Ma1FibVP_border-left-color: #dddddd;
  --mixin-kVk9Ma1FibVP_border-left-style: solid;
  --mixin-kVk9Ma1FibVP_border-left-width: 3px;
  --mixin-kVk9Ma1FibVP_color: #888888;
  --mixin-kVk9Ma1FibVP_padding-left: 10px;
  --mixin-kVk9Ma1FibVP_white-space: pre-wrap;
  --mixin-pDXublO0NNPO_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-pDXublO0NNPO_border-bottom-color: #dddddd;
  --mixin-pDXublO0NNPO_border-bottom-style: solid;
  --mixin-pDXublO0NNPO_border-bottom-width: 1px;
  --mixin-pDXublO0NNPO_border-left-color: #dddddd;
  --mixin-pDXublO0NNPO_border-left-style: solid;
  --mixin-pDXublO0NNPO_border-left-width: 1px;
  --mixin-pDXublO0NNPO_border-right-color: #dddddd;
  --mixin-pDXublO0NNPO_border-right-style: solid;
  --mixin-pDXublO0NNPO_border-right-width: 1px;
  --mixin-pDXublO0NNPO_border-top-color: #dddddd;
  --mixin-pDXublO0NNPO_border-top-style: solid;
  --mixin-pDXublO0NNPO_border-top-width: 1px;
  --mixin-pDXublO0NNPO_border-bottom-left-radius: 3px;
  --mixin-pDXublO0NNPO_border-bottom-right-radius: 3px;
  --mixin-pDXublO0NNPO_border-top-left-radius: 3px;
  --mixin-pDXublO0NNPO_border-top-right-radius: 3px;
  --mixin-pDXublO0NNPO_font-family: "Inconsolata";
  --mixin-pDXublO0NNPO_padding-bottom: 3px;
  --mixin-pDXublO0NNPO_padding-left: 6px;
  --mixin-pDXublO0NNPO_padding-right: 6px;
  --mixin-pDXublO0NNPO_padding-top: 3px;
  --mixin-pDXublO0NNPO_white-space: pre-wrap;
  --mixin-yaSW6xmwYQaw_display: flex;
  --mixin-yaSW6xmwYQaw_flex-direction: column;
  --mixin-yaSW6xmwYQaw_align-items: stretch;
  --mixin-yaSW6xmwYQaw_justify-content: flex-start;
  --mixin-yaSW6xmwYQaw_list-style-position: outside;
  --mixin-yaSW6xmwYQaw_padding-left: 40px;
  --mixin-yaSW6xmwYQaw_position: relative;
  --mixin-yaSW6xmwYQaw_list-style-type: disc;
  --mixin-yaSW6xmwYQaw_white-space: pre-wrap;
  --mixin-SLfAuM7c_YKf_display: flex;
  --mixin-SLfAuM7c_YKf_flex-direction: column;
  --mixin-SLfAuM7c_YKf_align-items: stretch;
  --mixin-SLfAuM7c_YKf_justify-content: flex-start;
  --mixin-SLfAuM7c_YKf_list-style-position: outside;
  --mixin-SLfAuM7c_YKf_padding-left: 40px;
  --mixin-SLfAuM7c_YKf_position: relative;
  --mixin-SLfAuM7c_YKf_list-style-type: decimal;
  --mixin-SLfAuM7c_YKf_white-space: pre-wrap;
  --mixin-wnRcvsmZ1dB5_color: #000000;
  --mixin-wnRcvsmZ1dB5_font-size: 20px;
  --mixin-wnRcvsmZ1dB5_font-weight: 600;
  --mixin-wnRcvsmZ1dB5_line-height: 1.5;
  --mixin-wnRcvsmZ1dB5_white-space: pre-wrap;
  --mixin-qq0-QdgyPlhf_color: #000000;
  --mixin-qq0-QdgyPlhf_font-size: 16px;
  --mixin-qq0-QdgyPlhf_font-weight: 600;
  --mixin-qq0-QdgyPlhf_line-height: 1.5;
  --mixin-qq0-QdgyPlhf_white-space: pre-wrap;
  --mixin-qQ5Kw9nEP1fS_color: #3291ff;
  --mixin-qQ5Kw9nEP1fS_white-space: pre-wrap;
  --mixin-VeRfWRrQrQUF_white-space: pre-wrap;
  --mixin-Xg9g_yIMKxAl_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-8b9X8Do3tDb9_font-family);
  font-size: var(--mixin-8b9X8Do3tDb9_font-size);
  font-weight: var(--mixin-8b9X8Do3tDb9_font-weight);
  font-style: var(--mixin-8b9X8Do3tDb9_font-style);
  color: var(--mixin-8b9X8Do3tDb9_color);
  text-align: var(--mixin-8b9X8Do3tDb9_text-align);
  text-transform: var(--mixin-8b9X8Do3tDb9_text-transform);
  line-height: var(--mixin-8b9X8Do3tDb9_line-height);
  letter-spacing: var(--mixin-8b9X8Do3tDb9_letter-spacing);
  white-space: var(--mixin-8b9X8Do3tDb9_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-UlIrbHZxTofC_color);
  font-weight: var(--mixin-UlIrbHZxTofC_font-weight);
  font-size: var(--mixin-UlIrbHZxTofC_font-size);
  line-height: var(--mixin-UlIrbHZxTofC_line-height);
  letter-spacing: var(--mixin-UlIrbHZxTofC_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-mp4xm0oTizyw_color);
  font-size: var(--mixin-mp4xm0oTizyw_font-size);
  font-weight: var(--mixin-mp4xm0oTizyw_font-weight);
  letter-spacing: var(--mixin-mp4xm0oTizyw_letter-spacing);
  line-height: var(--mixin-mp4xm0oTizyw_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-i19fur7Gfnmk_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-hdgVcC-5OPca_color);
  font-size: var(--mixin-hdgVcC-5OPca_font-size);
  font-weight: var(--mixin-hdgVcC-5OPca_font-weight);
  line-height: var(--mixin-hdgVcC-5OPca_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-wXDOdbJv2aV-_color);
  font-size: var(--mixin-wXDOdbJv2aV-_font-size);
  font-weight: var(--mixin-wXDOdbJv2aV-_font-weight);
  line-height: var(--mixin-wXDOdbJv2aV-_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-5D4nOTlI--ar_font-family);
  border-radius: var(--mixin-5D4nOTlI--ar_border-top-left-radius)
    var(--mixin-5D4nOTlI--ar_border-top-right-radius)
    var(--mixin-5D4nOTlI--ar_border-bottom-right-radius)
    var(--mixin-5D4nOTlI--ar_border-bottom-left-radius);
  padding: var(--mixin-5D4nOTlI--ar_padding-top)
    var(--mixin-5D4nOTlI--ar_padding-right)
    var(--mixin-5D4nOTlI--ar_padding-bottom)
    var(--mixin-5D4nOTlI--ar_padding-left);
  border-top: var(--mixin-5D4nOTlI--ar_border-top-width)
    var(--mixin-5D4nOTlI--ar_border-top-style)
    var(--mixin-5D4nOTlI--ar_border-top-color);
  border-right: var(--mixin-5D4nOTlI--ar_border-right-width)
    var(--mixin-5D4nOTlI--ar_border-right-style)
    var(--mixin-5D4nOTlI--ar_border-right-color);
  border-bottom: var(--mixin-5D4nOTlI--ar_border-bottom-width)
    var(--mixin-5D4nOTlI--ar_border-bottom-style)
    var(--mixin-5D4nOTlI--ar_border-bottom-color);
  border-left: var(--mixin-5D4nOTlI--ar_border-left-width)
    var(--mixin-5D4nOTlI--ar_border-left-style)
    var(--mixin-5D4nOTlI--ar_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-kVk9Ma1FibVP_color);
  padding-left: var(--mixin-kVk9Ma1FibVP_padding-left);
  border-left: var(--mixin-kVk9Ma1FibVP_border-left-width)
    var(--mixin-kVk9Ma1FibVP_border-left-style)
    var(--mixin-kVk9Ma1FibVP_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-pDXublO0NNPO_font-family);
  border-radius: var(--mixin-pDXublO0NNPO_border-top-left-radius)
    var(--mixin-pDXublO0NNPO_border-top-right-radius)
    var(--mixin-pDXublO0NNPO_border-bottom-right-radius)
    var(--mixin-pDXublO0NNPO_border-bottom-left-radius);
  padding: var(--mixin-pDXublO0NNPO_padding-top)
    var(--mixin-pDXublO0NNPO_padding-right)
    var(--mixin-pDXublO0NNPO_padding-bottom)
    var(--mixin-pDXublO0NNPO_padding-left);
  border-top: var(--mixin-pDXublO0NNPO_border-top-width)
    var(--mixin-pDXublO0NNPO_border-top-style)
    var(--mixin-pDXublO0NNPO_border-top-color);
  border-right: var(--mixin-pDXublO0NNPO_border-right-width)
    var(--mixin-pDXublO0NNPO_border-right-style)
    var(--mixin-pDXublO0NNPO_border-right-color);
  border-bottom: var(--mixin-pDXublO0NNPO_border-bottom-width)
    var(--mixin-pDXublO0NNPO_border-bottom-style)
    var(--mixin-pDXublO0NNPO_border-bottom-color);
  border-left: var(--mixin-pDXublO0NNPO_border-left-width)
    var(--mixin-pDXublO0NNPO_border-left-style)
    var(--mixin-pDXublO0NNPO_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-yaSW6xmwYQaw_display);
  flex-direction: var(--mixin-yaSW6xmwYQaw_flex-direction);
  align-items: var(--mixin-yaSW6xmwYQaw_align-items);
  justify-content: var(--mixin-yaSW6xmwYQaw_justify-content);
  list-style-position: var(--mixin-yaSW6xmwYQaw_list-style-position);
  padding-left: var(--mixin-yaSW6xmwYQaw_padding-left);
  position: var(--mixin-yaSW6xmwYQaw_position);
  list-style-type: var(--mixin-yaSW6xmwYQaw_list-style-type);
  flex-column-gap: var(--mixin-yaSW6xmwYQaw_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-SLfAuM7c_YKf_display);
  flex-direction: var(--mixin-SLfAuM7c_YKf_flex-direction);
  align-items: var(--mixin-SLfAuM7c_YKf_align-items);
  justify-content: var(--mixin-SLfAuM7c_YKf_justify-content);
  list-style-position: var(--mixin-SLfAuM7c_YKf_list-style-position);
  padding-left: var(--mixin-SLfAuM7c_YKf_padding-left);
  position: var(--mixin-SLfAuM7c_YKf_position);
  list-style-type: var(--mixin-SLfAuM7c_YKf_list-style-type);
  flex-column-gap: var(--mixin-SLfAuM7c_YKf_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-wnRcvsmZ1dB5_color);
  font-size: var(--mixin-wnRcvsmZ1dB5_font-size);
  font-weight: var(--mixin-wnRcvsmZ1dB5_font-weight);
  line-height: var(--mixin-wnRcvsmZ1dB5_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-qq0-QdgyPlhf_color);
  font-size: var(--mixin-qq0-QdgyPlhf_font-size);
  font-weight: var(--mixin-qq0-QdgyPlhf_font-weight);
  line-height: var(--mixin-qq0-QdgyPlhf_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-qQ5Kw9nEP1fS_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
