.homeNews {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      var(--token-jgohepLVeKvh),
      var(--token-jgohepLVeKvh)
    ),
    #fafafa;
  grid-row-gap: 0px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.homeNews > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .homeNews > * {
    grid-column: 4;
  }
}
.navbarTuturWarta__n37Ru:global(.__wab_instance) {
  position: relative;
  margin-bottom: 20px;
}
.adsTop {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.img__jFy1Y {
  object-fit: cover;
  max-width: 100%;
  width: 485px;
  height: 121px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.img__jFy1Y > picture > img {
  object-fit: cover;
}
.body {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.heroNews {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 20px;
}
.heroNews > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.heroNews > :global(.__wab_flex-container) > *,
.heroNews > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroNews > :global(.__wab_flex-container) > picture > img,
.heroNews
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__hhgjy {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hhgjy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__hhgjy > :global(.__wab_flex-container) > *,
.freeBox__hhgjy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hhgjy > :global(.__wab_flex-container) > picture > img,
.freeBox__hhgjy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.img__onfQ {
  object-fit: cover;
  max-width: 100%;
  width: 45%;
}
.img__onfQ > picture > img {
  object-fit: cover;
}
.freeBox__ds9R {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 0px 8px 10px;
}
.freeBox___1EkJf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__pi5Nw {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.freeBox__iaZF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___2ChU {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  min-width: 0;
}
.newsTerbaru {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.terbaru {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.terbaru > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.terbaru > :global(.__wab_flex-container) > *,
.terbaru > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.terbaru > :global(.__wab_flex-container) > picture > img,
.terbaru
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.freeBox___4Zw1W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.img__svSh1 {
  object-fit: cover;
  max-width: 100%;
}
.img__svSh1 > picture > img {
  object-fit: cover;
}
.freeBox__p4Aj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 10px;
}
.freeBox__p4Aj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__p4Aj > :global(.__wab_flex-container) > *,
.freeBox__p4Aj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p4Aj > :global(.__wab_flex-container) > picture > img,
.freeBox__p4Aj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.text__uiUkn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  background: #f1bb00;
  font-size: 14px;
  border-radius: 5px;
}
.text___8V0Ed {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  background: #f1bb00;
  font-size: 14px;
  border-radius: 5px;
}
.h1___6Hl4N {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  min-width: 0;
}
.freeBox___7Dfrj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.img__wNvb7 {
  object-fit: cover;
  max-width: 100%;
}
.img__wNvb7 > picture > img {
  object-fit: cover;
}
.freeBox__bBkfZ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 10px;
}
.freeBox__bBkfZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__bBkfZ > :global(.__wab_flex-container) > *,
.freeBox__bBkfZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bBkfZ > :global(.__wab_flex-container) > picture > img,
.freeBox__bBkfZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.text__r7JXq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  background: #f1bb00;
  font-size: 14px;
  border-radius: 5px;
}
.text__u23Dq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  background: #f1bb00;
  font-size: 14px;
  border-radius: 5px;
}
.h1__yg5Lz {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  min-width: 0;
}
.freeBox__vTGxj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.img__nDxSn {
  object-fit: cover;
  max-width: 100%;
}
.img__nDxSn > picture > img {
  object-fit: cover;
}
.h1__khuy7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  padding-top: 0px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.freeBox__nHzl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.img__vAbDj {
  object-fit: cover;
  max-width: 100%;
}
.img__vAbDj > picture > img {
  object-fit: cover;
}
.h1__qimg6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  padding-top: 0px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
