.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-4jbAiiltvb5V);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-4igPozvxuzKR);
  font-family: var(--token-EkbNJP5n5qs_);
  font-size: var(--token-UdCq_jF67HYX);
  line-height: var(--token-btHSj8wV-pO9);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-Z0B6jtloDG2Z);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-9u8VSASvMv8w);
  outline-offset: 1px;
  outline-color: var(--token-4jbAiiltvb5V);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-0OrVkkeYxRCb);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-tGPHAA5TU5rC);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-6I23HUuihfK9);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-WLrrI3X5dFVT);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-dnRYhwZyw1Lm);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-tYbcNAJIVtSa);
  font-size: var(--token-0McMDQWuMig9);
  column-gap: var(--token-9u8VSASvMv8w);
  row-gap: 0px;
  border-radius: var(--token-6pYS8AUtR93f);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-0McMDQWuMig9);
  line-height: var(--token-tYbcNAJIVtSa);
  column-gap: var(--token-6pYS8AUtR93f);
  row-gap: 0px;
  border-radius: var(--token-6pYS8AUtR93f);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-eC-_D7GZPRRC);
  line-height: var(--token-FXWxTHfQ_BGH);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-eC-_D7GZPRRC);
  line-height: var(--token-FXWxTHfQ_BGH);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-DfaHYE_SSQ4y);
  border-radius: var(--token-Z0B6jtloDG2Z);
}
.softBackgroundcolor_neutral {
  background: var(--token-f5cb2IvTr9z9);
}
.softBackgroundcolor_muted {
  background: var(--token-bnO9KQ3eaLUm);
}
.softBackgroundcolor_success {
  background: var(--token-akOVK4VJwfHT);
}
.softBackgroundcolor_warning {
  background: var(--token-ljTE9AYUmUf0);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-ZtE8jnWnMBjA);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-Z0B6jtloDG2Z);
  border: 0px solid var(--token-mJnKfO05iP6H);
}
.bordercolor_neutral {
  border-color: var(--token-La5g8vktCmdl);
}
.bordercolor_muted {
  border-color: var(--token-9Qr7G_DIO8nq);
}
.bordercolor_success {
  border-color: var(--token-0-rTeTmA3Nci);
}
.bordercolor_warning {
  border-color: var(--token-Vc6Yt794mVBj);
}
.bordercolor_errorDestructive {
  border-color: var(--token-wOj7Qs5ZArOr);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-Z0B6jtloDG2Z);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-mOBDVX4GZtSX);
}
.root[data-disabled] .interactionEffect {
  background: var(--token--0k7xEilOEQu);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-MIb7hgJx4mtR);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__hIrC {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-Z0B6jtloDG2Z) var(--token-Zzdmi9mS8owL);
}
.freeBox__hIrC > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-Z0B6jtloDG2Z));
  width: calc(100% + var(--token-Z0B6jtloDG2Z));
}
.freeBox__hIrC > :global(.__wab_flex-container) > *,
.freeBox__hIrC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hIrC > :global(.__wab_flex-container) > picture > img,
.freeBox__hIrC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Z0B6jtloDG2Z);
}
.freeBoxsize_extraSmall__hIrC6TDxc {
  padding: var(--token-6pYS8AUtR93f) var(--token-Z0B6jtloDG2Z);
}
.freeBoxsize_small__hIrCbtcBk {
  padding: var(--token-Z0B6jtloDG2Z) var(--token-4igPozvxuzKR);
}
.freeBoxsize_large__hIrCX5Anl {
  padding-top: var(--token-6pYS8AUtR93f);
  padding-bottom: var(--token-6pYS8AUtR93f);
}
.freeBoxsize_extraLarge__hIrC0Nm2H {
  padding-left: var(--token-T851S_Io0AGa);
  padding-right: var(--token-T851S_Io0AGa);
}
.freeBoxroundedFull__hIrCfQfl {
  padding-right: var(--token-T851S_Io0AGa);
  padding-left: var(--token-T851S_Io0AGa);
}
.freeBox___9PEwj {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___9PEwjVyl0M {
  display: flex;
}
.slotTargetStart {
  color: var(--token-m7NbmeLxLcIy);
}
.slotTargetStartcolor_neutral {
  color: var(--token-zUMEt5nr0-dR);
}
.slotTargetStartcolor_muted {
  color: var(--token-r1WyVaTx4Ndp);
}
.slotTargetStartcolor_success {
  color: var(--token-onXBL9aRoM-M);
}
.slotTargetStartcolor_warning {
  color: var(--token-hk3Cl7Iel44r);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-1UCkroO2mzdf);
}
.slotTargetStarttype_soft {
  color: var(--token-v-D684RA2rao);
}
.slotTargetStarttype_bordered {
  color: var(--token-v-D684RA2rao);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-0McMDQWuMig9);
}
.slotTargetStartsize_small {
  font-size: var(--token-0McMDQWuMig9);
}
.slotTargetStartsize_large {
  font-size: var(--token-eC-_D7GZPRRC);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-eC-_D7GZPRRC);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-6CfUeKRUuyEO);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-6CfUeKRUuyEO);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-qqH-jqPAq5Dl);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-qqH-jqPAq5Dl);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-y3gdsxzIS13I);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-y3gdsxzIS13I);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-NFz8T1hPjm5e);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-NFz8T1hPjm5e);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token--zat7EzzV_p5);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token--zat7EzzV_p5);
}
.svg__i9Hp3 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-m7NbmeLxLcIy);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-zUMEt5nr0-dR);
}
.slotTargetLabelcolor_muted {
  color: var(--token-r1WyVaTx4Ndp);
}
.slotTargetLabelcolor_success {
  color: var(--token-onXBL9aRoM-M);
}
.slotTargetLabelcolor_warning {
  color: var(--token-hk3Cl7Iel44r);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-1UCkroO2mzdf);
}
.slotTargetLabeltype_soft {
  color: var(--token-v-D684RA2rao);
}
.slotTargetLabeltype_bordered {
  color: var(--token-v-D684RA2rao);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-6CfUeKRUuyEO);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-qqH-jqPAq5Dl);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-6CfUeKRUuyEO);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-y3gdsxzIS13I);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-qqH-jqPAq5Dl);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-NFz8T1hPjm5e);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-y3gdsxzIS13I);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token--zat7EzzV_p5);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-NFz8T1hPjm5e);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token--zat7EzzV_p5);
}
.text__hyqL1 {
  white-space: pre;
}
.freeBox__wNvNv {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__wNvNvUlKrp {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-m7NbmeLxLcIy);
}
.slotTargetEndcolor_neutral {
  color: var(--token-zUMEt5nr0-dR);
}
.slotTargetEndcolor_muted {
  color: var(--token-r1WyVaTx4Ndp);
}
.slotTargetEndcolor_success {
  color: var(--token-onXBL9aRoM-M);
}
.slotTargetEndcolor_warning {
  color: var(--token-hk3Cl7Iel44r);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-1UCkroO2mzdf);
}
.slotTargetEndtype_soft {
  color: var(--token-v-D684RA2rao);
}
.slotTargetEndtype_bordered {
  color: var(--token-v-D684RA2rao);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-0McMDQWuMig9);
}
.slotTargetEndsize_small {
  font-size: var(--token-0McMDQWuMig9);
}
.slotTargetEndsize_large {
  font-size: var(--token-eC-_D7GZPRRC);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-eC-_D7GZPRRC);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-6CfUeKRUuyEO);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-6CfUeKRUuyEO);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-qqH-jqPAq5Dl);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-qqH-jqPAq5Dl);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-y3gdsxzIS13I);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-y3gdsxzIS13I);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-NFz8T1hPjm5e);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-NFz8T1hPjm5e);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token--zat7EzzV_p5);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token--zat7EzzV_p5);
}
.svg__jr0RK {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
